<div class="textos1 conteiner">
    <div class="row " >
  <div class="col-3 card nombre" >
      <h5>{{acercademi.nombre}}<br>{{acercademi.titulo}}</h5>
      <img id="editarlogo" class="tooledit"src="assets/edit-solid-24.png" alt="" style="display:none;">
    </div> 
   <div class="col-8 card exper">
    <ul>
      <li>{{acercademi.sobremi.estudio}}</li>
      <li>{{acercademi.sobremi.deporte}}</li>
      <li>{{acercademi.sobremi.autodidacta}}</li>
    </ul>
    <img id="editarlogo" class="tooledit"src="assets/edit-solid-24.png" alt="" style="display:none;">
  </div>
  </div>
  </div>
